:host {
  display: grid;
  width: 100%;
  grid-template-columns: min-content 1fr;
  align-items: center;

  & button {
    border-width: 0px !important;
  }

  & .list-button {
    display: flex;
    gap: 0.5rem;
    justify-self: end;
    align-items: center;
  }
}
