.active-status {
  background-color: #d4edda;
  color: #155724;
  padding: 5px;
  border-radius: 5px;
}

.inactive-status {
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 5px;
}
