
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/login-images/login-background.jpg');
  background-repeat: no-repeat;
  width:100%;
  background-size: cover;
  background-position: 100% 80%;
  position: relative;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.6vw;
  height: 25.44vw;
  max-width: 741px;
  max-height: 487px;
  min-width: 380px;
  min-height:487px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3rem;
  border-radius: 10px;
  border:2px solid #FFFFFF;
}

.footer-text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.email-text{
  color: #ffffff;
}
.content {
  height: 100%;
  text-align: center;
  display: flex;
  padding:1.5rem 0rem;
}
.logo {
  max-width: 152px;
  min-width:130px;
  width:7.92vw;
  padding-bottom:2.5rem;
}

.forgot-password a {
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  color: #2C4052 !important;
}
a {
  text-decoration: none;
}

.input-field {
  width: 335px !important;
  height: 48px !important;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #B0B5B5;
  border-radius: 4px;
}
:host ::ng-deep .p-password input {
  width: 335px !important;
  height: 48px !important;
  border: 1px solid #B0B5B5;
}

.submit-button {
padding-top:1.3rem;
padding-bottom:1rem;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.p-error {
 position: absolute;
 display:block;
 padding: 5px;
}
.p-button {
  color: #ffffff;
  background: #2C4052 !important;
  border: #2C4052 !important;
  padding: 0.7rem 1.5rem;
}
@media only screen and (max-width: 992px) {
  .container {
    background-position: center;
  }
}
@media only screen and (max-width: 576px) {
  .form-wrapper {
  min-width: 330px !important;
  min-height: 450px !important;
}
.input-field {
  width: 250px !important;
  height: 38px !important;
}
:host ::ng-deep .p-password input {
  width: 250px !important;
  height: 38px !important;
}
}


